.App {
  text-align: center;
 max-width: 960px;
 margin: 0 auto;
}

.App-header {
  margin-top: 100px;
  color: #EBDCEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
.App-header img{
  height: 70px;
  pointer-events: none;
}
