.App {
  text-align: center;
}

.App-header {
  margin-top: 100px;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
.App-header img{
  height: 70px;
  pointer-events: none;
}
